receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4319"

processors:
  # データをまとめてくれる｡ほぼ必須｡
  # https://github.com/open-telemetry/opentelemetry-collector/blob/main/processor/batchprocessor/README.md
  batch:
    timeout: 5s
    send_batch_size: 2048
    send_batch_max_size: 4096

  # resource で attribute を追加できます｡
  # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/resourceprocessor/README.md
  resource/add_attr:
    attributes:
      - key: sample.name
        value: "metrics-otlp"
        action: insert

exporters:
  # メトリクスの exporter
  # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/prometheusremotewriteexporter/README.md
  prometheusremotewrite/metrics:
    # メトリクスはエンドポイントの URL がフルに必要なことに注意
    endpoint: "${env:SAKURA_MONITORINGSUITE_METRICS_ENDPOINT}"
    # Authorization ヘッダを付与します｡
    headers:
      Authorization: "Bearer ${env:SAKURA_MONITORINGSUITE_METRICS_CREDENTIALS}"
    # all the resource attributes will be converted to metric labels by default.
    resource_to_telemetry_conversion:
      enabled: true
    # TLS 設定（SAKURA_MONITORINGSUITE_METRICS_INSECURE=true の場合は insecure を true に）
    tls:
      insecure: ${env:SAKURA_MONITORINGSUITE_METRICS_INSECURE:-false}
    # ラベルを prometheusremotewrite で付与することも可能
    external_labels:
      region: "tokyo"


service:
  # otel 全体のログレベルはここで制御可能
  telemetry:
    logs:
      level: info
        # level: debug

  pipelines:
    # メトリクスパイプライン
    metrics/otlp:
      receivers:
        - otlp
      processors:
        - resource/add_attr
        - batch
      exporters:
        - prometheusremotewrite/metrics
