receivers:
  filelog/nginx_accesslog:
    include:
      - '/var/log/nginx/access.log'
    exclude: []
    start_at: end
    include_file_name: true
    include_file_path: true
    operators:
      - type: json_parser
        id: nginx_json_parser
        parse_from: body
        parse_to: body
        parse_ints: true # 数値を値によって適切な型（int or double）で扱う（デフォルトでは数値は全て double になる）
        timestamp:
          parse_from: body["time"]
          layout_type: strptime
          layout: '%Y-%m-%dT%H:%M:%S%j'
          # location: Asia/Tokyo

processors:
  # https://github.com/open-telemetry/opentelemetry-collector/blob/main/processor/batchprocessor/README.md
  batch:
    timeout: 5s
    send_batch_size: 2048
    send_batch_max_size: 4096

  transform/set_timestamp:
    error_mode: ignore
    log_statements:
      - set(log.body["time"], FormatTime(log.time, "%Y-%m-%dT%H:%M:%S.%sZ"))
  transform/set_monitoring_suite_log_name:
    log_statements:
      - context: log
        statements:
          # - set(body["log_name"], log.body["log.file.name"])
          - set(body["log_name"], "nginx")

exporters:
  # ログの exporter
  # https://github.com/open-telemetry/opentelemetry-collector/blob/main/exporter/otlphttpexporter/README.md
  otlphttp/logs:
    # endpoint にパスが不要なことに注意｡otelcol が自動的に /v1/logs を追加してリクエストします｡
    endpoint: "https://${SAKURA_MONITORINGSUITE_LOGS_ENDPOINT}"
    # Authorization ヘッダを付与します｡
    # ref. https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/extension/basicauthextension/README.md
    headers:
      Authorization: "Bearer ${SAKURA_MONITORINGSUITE_LOGS_CREDENTIALS}"
    timeout: 30s


service:
  # otel 全体のログレベルはここで制御可能
  telemetry:
    logs:
      level: info
        # level: debug

  pipelines:
    logs/otlp:
      receivers:
        - filelog/nginx_accesslog
      processors:
        - transform/set_timestamp
        - transform/set_monitoring_suite_log_name
        - batch
      exporters:
        - otlphttp/logs
