name: Test

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  tests:
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.9"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Run tests
        run: |
          cd metrics-otlp && ./test.sh
          cd metrics-hostmetrics && ./test.sh

